# .gitignore for HSOLC

.htaccess
robots.txt
errorlog.txt

log/
log/*

CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
LICENSE.txt
MAINTAINERS.txt
UPGRADE.txt




index.php
info.php

local/
local/*

tools/
tools/*

php_mail/
php_mail/*

tmp/
tmp/*

sites/all/modules/devel
sites/all/modules/devel/*
sites/all/modules/*.tar*

sites/*/settings*.php
sites/*/modules/*.tar*


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/sites.php
custom-settings.php

sites/default/files/css
sites/default/files/js

.ftpquota
._*
