<?php 
$header_already_sent = TRUE;
if( !$header_already_sent ) header('Content-type: text/css');
?>

/* $Id: nice_menus_default.css,v 1.6 2007/10/29 16:38:28 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  To help understand the CSS, the HTML looks like this, where
    x is a number;
    TYPE is down/left/right;
    PATH is the menu path such as node/343;
    MID is the menu id such as 33):
  <ul id='nice-menu-x' class='nice-menu nice-menu-TYPE'>
    <li id='menu-MID' class='menu-path-PATH'><a href='#'>This is a menu item</a></li>
    <li class='menuparent menu-path-PATH'><a href='#'>A submenu</a>
      <ul...><li...>...</li>
      </ul>
    </li>
    ...
  </ul>

  If you have more than one nice-menu and want to target a particular one,
  use its id (e.g. ul#nice-menu-2).

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for some CSS customization examples.
*/

/**
	Custom overrides for the main navigation menu on the page
 */
<?php
$menu_base_background_color = "#D5CB96";
$hover_background_color = "#FFFCE9";
$menu_sub_menu_background_color = "#D5CB96";
?>

/*#nice-menu {
	display:block; width: 870px;
	padding-left: 20px;
	background-color:#016AB3;
	background-image:none;
} 
*/

/** block-nice_menus-3 **/
/*#block-nice_menus-3 {
	display:block; width: 860px; height:27px;
	margin:0 auto;
	padding-left: 20px;
	background-color:#016AB3;
	background-image:none;
}
*/


#block-nice_menus-3 {
	width:865px; height:25px;
	padding-left:15px;
	background-image:none; background-color:#D5CB96;
	margin:0 auto;
}

#nice-menu-3 {
	/*width:910px; - this didn't make a difference */
	padding-left:0px;
	font-size:1.3em; font-family:Arial,Helvetica,sans-serif;
}

#nice-menu-3 li {
	text-align:left;
	background-color:#D5CB96;
	border:none; border-right:1px solid #ccc;
	padding-left:8px; padding-right:0px;
}



#nice-menu-3 li li {
	width:200px;
	padding-left:8px; padding-right:10px;
	border:none;
	background-color:#D5CB96;
	font-size:.9em;
}

#nice-menu-3 li a {
	color:#000000;
	text-decoration:none;
	padding-right:15px;
}

#nice-menu-3 li.menuparent {
	background-image:none; padding-right:0px;
}








/**
	Finally, control the hover background-colors and font colors
 */
 
#nice-menu-3 li:hover, #nice-menu-3 li.over {
	background-color:<?php echo $hover_background_color; ?>;
}

#nice-menu-3 li:hover a, #nice-menu-3 li.over a {
	color:#000000;
}