em { font-weight:bold; }

.messages.error {
	/*display:none;*/
}

.breadcrumb {
	display:none;
}

.description {
	font-size:1.0em !important;
	margin-left:10px;
}

/*.teaser-checkbox {
	float:left !important;
}*/

/*#block-menu-menu-policies-menu {
	width:250px;
}*/


/*
#block-menu-menu-policies-menu .leaf.first {
	font-size:1.4em;
	padding-bottom:10px;
}

#block-menu-menu-policies-menu .expanded .leaf.first {
	font-size:1.0em !important;
	padding-bottom:0px !important;
}*/

.node-unpublished {
	background-color:yellow;
}

div.messages {
	padding-bottom:7px;
	border-bottom:1px dashed #666;
	margin-bottom:10px;
}

.messages.status {
	font-weight:bold;
	font-size:1.2em;
}

div[id|="edit-field-workflow"] {
	display:block;
	clear:both;
	padding-top:15px;
	border-top:1px dashed #666666;
	padding-bottom:15px;
	height:300px;
}


select[id|="edit-field-workflow"] {
	width:125px;
	float:left;

}

#node-form .admin {
	clear:both;
}

.node-form fieldset {
	display:block;
	clear:both;
}

div[id|="edit-field-workflow"] .description {
	float:left;
	width:350px;
	padding-left:15px;
}


form[id*="19-assign"] {
	padding-bottom:5px;
	border-bottom:8px solid #666666;
	margin-bottom:40px;
} 




.block.block-user .leaf.first a[href="/users/staff"] {
	display:none;
}