/**
 @Title - Announcements
 @Type - Drupal View
 @Administer - Drupal Administration, Site Building, Blocks; Views
 
 original selector: #block-views-announcements-block_1
 */
 
#block-block-6 {
	width:150px;
	float:right;
	padding-right:25px;
}
 
#block-views-announcements-block_2 {
	width:600px;
	float:left;
}

.block .field-field-publisher-email {
	display:none;
}
 
div[id|="block-views-announcements"] .title {
	color:#016AB3;
	font-size:1.9em;
	line-height:1.9em;
	padding-top:1.0em;
}

div[id|="block-views-announcements"] .views-row .title {
	color:#666666;
	font-size:1.6em; line-height:1.0em;
}


div[id|="block-views-announcements"] .views-field-title {
	font-size:1.6em;
	font-weight:bold;
}

div[id|="block-views-announcements"] .views-field-title a {
	text-decoration:none;
	color:#000;
}

div[id|="block-views-announcements"] .views-row {
	margin-bottom:1.0em;
}

div[id|="block-views-announcements"] .views-field-body {
	font-size:1.2em;
	line-height:1.6em;
}


#block-views-Homepage_Slideshow-block_1 {
	margin: 0px;
	padding: 0px;
	height: 210px;
	background-color: #fffce9;
}





/**
 @Title - Did You Know?
 @Type - Drupal Block View
 */
#block-views-did_you_know-block_1 {
	width:50%; float:left;
	margin-top:15px;
	background-image:url('../images/view-block-factoids.png');
	background-repeat:no-repeat;
}

#block-views-did_you_know-block_1 .title {
	margin-left:10px;
	color:#C5161C; font-size:1.6em;
	text-align:left;
}

.view-did-you-know .view-content p {
	width:80%;
	padding-left:6%; padding-right:14%;
	margin-top:15px;
	color:#058D9D; font-family:Verdana,Geneva,sans-serif;
	font-size:1.3em;
	line-height:1.6em;
	font-weight:400;
}




/**
 Here we defined some style for all table-based views.  That way we have consistent presentation for each of the table-based views.
 */

.views-table {
	width:85%;
	font-family:Arial,Helvetica,sans-serif;
	color:#333;
}

.views-table thead tr {
	border-top-style:none;
	border-top-width:0px;
	height:0px;
}

.views-table thead tr th {
	border-bottom-color:#000000;
	border-bottom-style:none;
	border-bottom-width:0px;
}

.views-table tr, .views-table tr.odd, views-table tr.even {
	border-top:1px solid #D5CB96;
	border-bottom:0px solid #D5CB96;
	background-color:transparent;
}

.views-table tbody {
	border:0px solid #fff;
}

.views-table caption {
	font-size:1.4em;
	font-weight:bold;
	text-align:left;
}

.views-table td {
	padding-top:3px; padding-bottom:10px;

}

.views-table a.red {
	color:red;
}







.views-field.views-field-title {
	width:350px;
}

.view a {
	color:#C5161C;
}