#node-admin-content {
	font-size:1.2em; font-family:Arial, sans-serif;
}

#node-admin-content td {
	padding-left:1.0em;
}

.sticky-enabled {
	font-size:1.2em;
}

.sticky-enabled td {
	padding-left:10px;
}


/*
 * Reset CKEditor  for full screen,
 * fixes issue with editor toolbar floating off the top of the page

.cke_maximized
{
	top:75px !important;
}
*/